
.header-section{
	background: url(../images/hbg.jpg) no-repeat;
	background-size: cover;
	padding-top: 35px;
	height: 100vh;
	position: relative;
	}
.content {
    
    position: absolute;
    text-align: center;
    left: 50%;
    bottom: 50%;
    transform: translate(-50%, 50%);
}
.img{
	width:50%
	height:50%
}


.content h1{
color: #fff;
}
.btn-custom{
	color: #fff;
    background: #2696C6;
    padding: 10px 40px;
   
    margin-top: 1em;
    text-transform: uppercase;}
.content-section{
	padding:60px 0;
	background-color: #f7f7f7;
}

.header-text{
	padding-top: 2em ;
	padding-bottom: 2em ;
}
.header-text p{
	max-width: 500px;
	margin: 0px auto;
	font-size: 16px;
	position: relative;
}
.header-text p:before{
    position: absolute;
    content: "";
    width: 10%;
    height: 2px;
    background: red;
    bottom: -15px;
    transform: translateX(-50%);
    left: 50%;
}
.header-text h1{
	text-align: center;
} 
.content1{
	padding-top: 5px;
	padding-top: 0px;
	text-align: center;
} 
.content-img{
	margin: 50px auto -5px;
	display: block;
	padding: 20px 0;}
.content2 h4{
	padding: 15px 0px;
}
.btn-quote1{
	background-color: #1863ad;
	color: #fff;
	text-transform: uppercase;
	margin-top: 35px;
	padding: 10px 40px;
}
.btn-quote1:hover{
	color: #fff;
	background-color: #2198c9;
	transition: 0.5s;
}
.content-section-2{
	padding:60px 0;
}
.container2{
	background: url(../images/fbg.jpg);
	background-size: cover;
	padding:60px 0;
	height: 60vh;
	
	
}
.container2 h1{
color: #fff;
	font-size: 50px;
	padding: 50px 0 0;
	text-transform: uppercase;
}
.footer-content{
	padding: 15px 0;
}
footer{
	background:#E6E6E6;
}